@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    background: #e8d9bf;

}





/* ヘッダー */

#header {
    position: relative;

}

html {
    scroll-behavior: smooth;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.51%;
    padding-right: 6.53%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;

}

.logo {
    width: 226.7px;
}

.pc-nav ul {
    display: flex;
}

.pc-nav ul li a {
    display: block;
    color: #fff;
    font-size: 18px;
    width: 105px;
    margin-right: 53px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.pc-nav ul li:last-child a {
    margin-right: 0;


}

/* スマホ版メニューを消す */
.hamburger {
    display: none;
}

.sp-nav {
    display: none;
}

/* スライダーの調整 */
.slick-dots {
    bottom: 25px;
}

.slick-dots li.slick-active button:before {
    color: #fff;
}

.slick-dots li button:before {
    color: #fff;
}



.message {
    padding-top: 104px;
}

.happy {
    font-size: 30px;
    text-align: center;
}

.big-happy {
    font-size: 82px;
    padding-top: 50px;
    text-align: center;
    line-height: 1.17;
}

.p-text {
    font-size: 23px;
    padding: 50px;
    text-align: center;
    line-height: 1.65;
}

.sp-br {
    display: none;
}

.all-about-us,
.all-menu {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.all-about-us {
    display: flex;
    padding-top: 89px;
    /* max-width: 1000px; */
    /* margin: 0 auto; */


}

.art-coffe img {
    border-bottom-right-radius: 100px;
}

.art-coffe {
    width: 50%;
}

.art {
    width: 42.5%;
    margin-left: 7.5%;
}

.about-us-logo {
    width: 272px;
    margin-bottom: 58px;
}

.about-us-logo-sp {
    display: none;
}



.text-1 {
    font-size: 44px;
    margin-bottom: 38px;
    line-height: 1.38;

}

.text-2 {
    font-size: 16px;
    line-height: 1.625;

}




.menu-logo {
    width: 151px;
    padding-top: 108px;
    margin: 0 auto;
}

.menu {
    width: 300px;
}


.menus {
    display: flex;
    gap: 50px;
    padding-top: 48px;
    align-items: flex-start;
    /* max-width: 1000px; */
    /* margin: 0 auto; */

}


.menu h3 {
    font-size: 38px;
    color: #d30202;
    margin-top: -10px;
    text-align: left;
    margin-left: 10px;
}


.text-3 {
    margin-top: 25px;
    line-height: 1.47;
}

.menu img {
    border-top-right-radius: 50px;

}


.GALLERY-logo {
    width: 245px;
    padding-top: 101px;
    margin: 0 auto;

}


.img-list {
    display: flex;
    margin-top: 27px;

}

.slick-next {
    right: 25px;
}

.slick-prev {
    left: 25px;
    z-index: 100;
}

.all-event {
    padding-left: 20px;
    padding-right: 20px;
}

.event-logo {
    width: 173px;
    padding-top: 72px;
    margin: 0 auto;
}

.box {
    max-width: 1000px;
    background: #fff;
    border: 2px solid #4f260b;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;

}


.item {
    font-size: 23px;
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.date {
    width: 120px;
    text-align: left;
    line-height: 1.5;

}

.text-4 {
    flex: 1;
    text-align: left;
    text-decoration: underline;
    padding-bottom: 3px;
    line-height: 1.5;
}

.accsess-logo {
    width: 213px;
    padding-top: 80px;
    margin: 0 auto;
}

.map iframe {
    width: 100%;
    padding-top: 45px;


}

.footer {
    background: #fff;
    padding: 40px 20px;
    text-align: left;
}

.footer-box {
    display: flex;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-left {
    text-align: left;
    width: 226px;
}

.footer-right {
    text-align: left;
    font-size: 20px;
    color: black;
    margin-left: 58px;
}

.footer-right p {
    line-height: 1.95;
}




.footer-copy {
    margin-top: 83px;
    font-size: 16px;
    color: black;

    text-align: center;

}

.maru {
    width: 125px;
    position: fixed;
    bottom: 20px;
    right: 20px;


}

@media screen and (max-width:1100px) {
    .pc-nav {
        display: none;
    }



    .hamburger {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 33px;
        z-index: 9999;
    }

    .hamburger span {
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .hamburger span::before,
    .hamburger span::after {
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        position: absolute;
        transition: 0.3s;

    }

    .hamburger span::before {
        bottom: 10px;
    }

    .hamburger span::after {
        top: 10px;
    }

    .open span {
        background: transparent;
    }

    .open span::before {
        bottom: 0;
        transform: rotate(405deg);
    }

    .open span::after {
        top: 0;
        transform: rotate(495deg);
    }

    .sp-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
    }

    .sp-nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }




    .sp-nav ul li a {
        text-align: center;
        display: block;
        color: #fff;
        padding: 10px 0;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-size: 18px;
    }

    .big-happy {
        font-size: 56px;
        line-height: 1.5
    }


    .text-1 {
        font-size: 32px;
        line-height: 1.5;

    }

}


@media screen and (max-width: 767px) {

    .logo {
        width: 187.5px;

    }

    .message {
        padding-top: 43px;
    }

    .happy {
        font-size: 17px;
    }

    .big-happy {
        font-size: 10vw;
        line-height: 1.15;
        padding-top: 29px;

    }

    .p-text {
        font-size: 16px;
        line-height: 1.875;
        padding: 29px;
    }

    .sp-br {
        display: block;
    }

    .about-us-logo {
        display: none;
        width: 160px;
    }

    .about-us-logo-sp {
        display: block;
        width: 160px;
        margin: 0 auto;
    }

    .all-about-us {
        display: block;
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;

    }

    .art {
        width: 100%;
        margin-left: 0;
        padding: 0 20px;
        box-sizing: border-box;

    }

    .art-coffe {
        width: 100%;
        margin-bottom: 20px;
    }

    .art-coffe img {
        padding-top: 18px;
        border-bottom-right-radius: 0;

    }




    .text-1 {
        font-size: 36px;
        line-height: 1.25;
        margin-bottom: 32px;
    }

    .text-2 {
        font-size: 16px;
        line-height: 1.75;
    }

    .menu-logo {
        width: 87.5px;
        padding-top: 52px;
    }

    .menus {
        display: block;
        padding-top: 23px;

    }

    .menu {
        width: 100%;
    }

    .menu img {
        width: 100%;
    }

    .menu h3 {
        font-size: 40px;
    }

    .text-3 {
        font-size: 17px;
        line-height: 1.58;
        margin-bottom: 70px;
    }




    .GALLERY-logo {
        width: 142px;
        padding-top: 19px;
    }

    .img-list {
        margin-top: 21px;
        display: block;
    }


    .img-list li {
        margin: 0;
    }

    .img-list img {
        width: 100%;
        display: block;
    }


    .event-logo {
        width: 100px;
        padding-top: 35px;
    }

    .box {
        margin-top: 22px;
        display: block;
    }

    .item {
        display: block;
    }

    .date {
        font-size: 16px;
    }

    .text-4 {
        font-size: 16px;
        /* width: 300px; */
        white-space: nowrap;
        /* 横幅のMAXに達しても改行しない */
        overflow: hidden;
        /* 溢れた部分を隠す */
        text-overflow: ellipsis;
        /* 「…」と省略 */
        -webkit-text-overflow: ellipsis;
        /* Safari用 */
        -o-text-overflow: ellipsis;
        /* Opera用 */
    }

    .accsess-logo {
        width: 124px;
        padding-top: 33px;
    }



    .map iframe {
        padding-top: 10px;
        height: 191px;
    }

    .footer-left {
        width: 226.7px;
    }

    .footer-right {

        margin-left: 0;
        padding-top: 33px;
    }

    .footer-right p {
        font-size: 18px;
    }

    .footer-box {
        display: block;
    }

    .footer-copy {
        font-size: 16px;
        margin-top: 48px;
    }

    .maru {
        width: 100px;


    }

}